@import '../../../styles/variables';

.stepper-container {
    overflow-x: hidden;
    
    .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 3s ease-in;
        counter-reset: step;

        .step {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: $dark-gray;
            position: relative;
            flex-grow: 1;
            cursor: pointer;

            &::before {
                content: counter(step);
                counter-increment: step;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                font-size: 10px;
                color: $text-light-gray;
                font-weight: 400;
                line-height: 20px;
                border: 1px solid;
                border-color: $bg-gray;
                background-color: $bg-step;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -8px;
            }

            &::after {
                content: "";
                width: 100%;
                height: 4px;
                z-index: -1;
                background-color: $bg-step;
            }

            &.submitted:not(.active) {
                &::before {
                    content: "";
                    background-image: url('../../../assets/images/check-icon.svg');
                    background-position: center;
                    border-color: transparent;
                    box-shadow: 8px 0px 20px rgba(8, 8, 8, 0.45);
                }
            }

            &.active {
                color: $white;

                &::before {
                    color: $text-black;
                    background-color: var(--color);
                    border-color: transparent;
                }

                &::after {
                    background-color: var(--color);
                }
            }

            .step-label {
                margin-bottom: 20px;
                line-height: 22px;
            }
        }
    }

    .step-content-wrapper {
        padding: 1.5rem;
        color: $white;
    }

    .step-content {
        animation: slide-in 600ms ease-in-out;
    }

    .step-actions {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        margin-top: 4rem;

        > div {
            display: flex;
            gap: 1.5rem;
            justify-content: flex-start;
        }

        button {
            padding: 0.5rem 1rem;
            background-color: var(--color);
            opacity: 0.8;
            transition: all 0.5s;
            cursor: pointer;
            border: 0;
            border-radius: 4px;
            color: $white;

            &:hover {
                background-color: var(--color);
                opacity: 1;
            }

            &:disabled {
                background-color: rgba($dark-gray, 0.6);
            }
        }
    }

    &.vertical {
        display: grid;
        grid-template-columns: 100px 1fr;

        .steps {
            display: grid;
            grid-template-columns: 100px;
            grid-template-rows: repeat(auto-fill, 130px);
            align-items: flex-start;

            .step {
                align-items: center;
                justify-content: left;
                display: grid;
                grid-template-rows: 130px;

                &::before {
                    top: 50%;
                    transform: translateY(-50%);
                    right: auto;
                    margin-bottom: 0;
                }

                &::after {
                    width: 4px;
                    height: 100%;
                    min-height: 130px;
                    position: absolute;
                    left: 9px;
                    top: 0;
                }

                .step-label {
                    margin-bottom: 0;
                    margin-bottom: 0;
                    text-align: left;
                    margin-left: 30px;
                }
            }
        }

        .step-content-wrapper {
            margin-top: 0;
            padding-top: 0;

            .step-content {
                animation: slide-in-vertical 600ms ease-in;
            }

            .step-actions {
                padding: 1.5rem 0;
                justify-content: flex-start;
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-in-vertical {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}